[2019-07-11 18:30] #475 closed

[2019-07-11 18:31] IvanGoncharov commented on #482
@anmolagar Currently not, please see #390

[2019-07-11 18:31] #482 closed

[2019-07-14 06:13] vnphanquang commented on #421
I think this piece of information would be very helpful if added to the documentation (README). [formatError](https://github.com/graphql/graphql-js/blob/master/src/error/formatError.js) is also helpful.

[2019-07-16 23:24] OpenSpacesAndPlaces opened #554 "const schema = require('./schema');"
I have a sample around that is declared like:

[code]

This used to work - not for the life of me it will not load.

Just throws:
Error: Cannot find module './schema'

Any help appreciated - thanks!

[2019-07-17 09:03] IvanGoncharov commented on #554
@OpenSpacesAndPlaces Don't think it's related to `express-graphql`.
But you can check if you have `schema.js` in the same folder as file that requires it.

[2019-07-17 09:03] #554 closed

[2019-08-02 10:39] skiod opened #555 "Can't find Json type"
Hello,
i'm switching from rest api to graphql. everything was smooth except when i tried to return Json type it throws an error  :
[code]
is graphql support json or not ? any solution for this ?

Thank you

[2019-08-02 16:47] skiod commented on #555
it's working now ,I used this package : https://www.npmjs.com/package/graphql-type-json

[2019-08-02 16:47] #555 closed

[2019-08-02 18:19] tarikhamilton commented on #338
If you're learning GraphQL and are still confused, just know you aren't alone. :P

[2019-08-04 13:08] dancojocaru2000 opened #556 "Allow usage of format other than JSON?"
Although "the GraphQL spec does not require it", there doesn't seem a way to use anything other than JSON with this. Is there any plan to allow a custom format to be used?

[2019-08-17 06:37] dandandexia opened #557 "it run ok in development enviroment, but it is wrong in production"
[code]

[2019-08-17 08:43] IvanGoncharov commented on #557
It looks like you are using multiple versions of `graphql-js` please run `npm ls graphql` and try to remove duplicates of `graphql`.
You can start by removing `node_modules` and running `npm install`.

[2019-08-17 08:43] #557 closed

[2019-08-27 15:59] SephReed opened #558 "Can't submit graphiql options"
These props (https://github.com/graphql/graphiql/tree/master/packages/graphiql#usage) should be submittable to the qraphiql instance.  I can't figure out a way to send them.

[2019-08-27 16:14] IvanGoncharov commented on #558
@SephReed At the moment we support only `defaultQuery`:
https://github.com/graphql/express-graphql/blob/f826aaebaa197c3e4666be4deeae58b9e34f496c/src/renderGraphiQL.js#L11-L18

What other properties do you need?

[2019-08-27 17:09] IvanGoncharov commented on #558
@SephReed Problem is that we send HTML with GraphiQL to the browser so your `fetcher` function should be fully embedded into HTML, see:
https://github.com/graphql/express-graphql/blob/master/src/renderGraphiQL.js#L47

In theory, we can have `fetcher` but it should be a string with JS code inside and you can't use any libraries expect `fetch` and browser API.
Will this work for you?

[2019-09-08 08:59] jonaskello opened #559 "Extract main functions into separate server agnostic package?"
This package is currently coupled to express but there is a lot of code in here that is not specific to express. If we could split it so the core functions could be made agnostic of what server you are using (express, koa, etc..) then the re-use could probably be better. My thought is that we could have a library of core logic that is mainly pure functions, and then people can compose them into wh

[2019-09-08 14:00] acao commented on #559
this would be great for lambdas/zeit now 2/ FAAS implementations as well

[2019-09-16 05:09] arunnayak opened #560 "graphiql: true, throw POST http://localhost:4000/graphql? 500 (Internal Server Error)"
Hello,

I'm new to graphql and I'm having this issue which I'm not able to resolve :( can anyone help me out why am I getting "POST http://localhost:4000/graphql? 500 (Internal Server Error)" on the chrome console when I run this below sample application?

clone this below the repo
https://github.com/arunnayak/grapgql-tuts
npm install
node app.js

and visit this http://localhost:4000/graphql

on c

[2019-09-16 05:43] arunnayak commented on #560
my bad, I got it working, thanks

[2019-09-16 05:43] #560 closed

[2019-09-17 12:53] btodts commented on #430
@IvanGoncharov This doesn't answer how I could access the value of the `lowercase` argument in the `course` resolver. How would you go about this?

[2019-09-17 13:42] IvanGoncharov commented on #430
@btodts Depending on how you register it you would get `args` as either second or first argument of `course` resolver see my previous comment.

[2019-09-23 13:12] BruceL33t opened #561 "Is caching not supported?"
I've found no documentation about how to do caching in express-graphql, and I really would like to not have to switch to apollo-server, to be able to set a simple TTL per resolver. Is caching really not something you think should be built into express-graphql (a generic solution that can be overridden) or at least supported so you can easily add your own cache implementation? If caching is indeed

[2019-09-27 15:13] Sufiane-Souissi opened #562 "resolvers argument mixed up"
I'm trying to setup a little GraphQL server, when trying to pass some value to my *context* object, it get passed to the *args* object.

for example:
[code]

"mySuperProperty" is not found in the resolver's *context* object but inside the *args* object.
Everything seems shifted (as *info* is undefined, and *root* get the *something* argument)

I'm surely missing something or doing something wrong.

[2019-09-27 15:18] Sufiane-Souissi commented on #562
Just found an issue stackoverflow about the same problem, (w/o answer though)
https://stackoverflow.com/questions/51779230/parameters-ordering-to-get-context-in-express-graphql

[2019-09-30 10:18] IvanGoncharov commented on #562
@Sufiane-Souissi It's a very popular question and we need to address it in README.
The short answer: you get the root object as `this` because resolver is called on this object.

We actually have two types of resolvers:
1. specified in `GraphQLObjectType` fields and they get `(parent, args, context, info)`
2. resolvers specified on `parent` itself, in this case, their prototype is `(args, context,

[2019-10-01 12:40] Sufiane-Souissi commented on #562
Thank you for your answer ! I was able to keep working with *graphql-tools*
I'll look more into it !
Thanks for your help @IvanGoncharov !

[2019-10-07 19:51] alanraso commented on #91
Same [question](https://stackoverflow.com/questions/37331238/how-to-pass-request-body-into-graphql-context) on SO

[2019-10-09 20:37] martinlevesque commented on #390
Is there a complete example somewhere ? I have been trying to make subscriptions work with express-graphql and subscriptions-transport-ws with no success.

My server:

[code]

Client:

[code]

package.json:

[code]

[2019-10-12 13:18] calvinlarano97 commented on #390
same problem. anyone here could help us.

[2019-10-12 14:09] tylerreckart commented on #390
@calvinlarano97, @martinlevesque There is currently no support for subscriptions in this package. I integrated this PR into my own package for use in my course on GraphQL, but it should be noted that it was for demonstration purposes only. https://github.com/graphql-in-motion/express-graphql
It is being used here: https://github.com/graphql-in-motion/graphql-news/blob/master/src/server/index.js

I

[2019-10-12 20:57] online0227 opened #563 "Resolver return only 500 internal server error"
**Login resolver:**
[code]
**It shows correct error response when I put wrong id and password, as follwing:**

**But in React:**
[code]

**Shows only (in Chrome console):**

**Following is mutation I run above:**
[code]

How can I fix this?
I want react generates same error as it was in graphql resolver.

[2019-10-13 06:46] jsonmaur commented on #427
Any update on this? Validation errors should definitely not be returning a 500.

[2019-10-13 12:24] IvanGoncharov commented on #563
@online0227 You need to make `login` nullable if you use SDL you need to remove `!`.
Also, you need to return the promise: `return AuthService.login`

[2019-10-13 12:24] #563 closed

[2019-10-13 22:53] digitalle commented on #561
@BruceL33t got the same issue - would prefer to use express-graphql instead of Apollo but need the caching goodness!

[2019-10-24 05:15] raitucarp commented on #390
Is this project even still maintained?

[2019-10-24 12:53] junminstorage commented on #390
apollo graphql is the most popular platform, lacking support from the facebook for this project, making my PR https://github.com/graphql/express-graphql/pull/436 sitting there for long time.

[2019-10-24 13:06] martinlevesque commented on #390
@junminstorage the PR works ? The changes look pretty minimal. Let's do it @IvanGoncharov Looks like a significant amount of people needs it (include me). I can do some extra testing or anything else if required.

[2019-10-24 13:29] junminstorage commented on #390
it works at the time i created the PR, and see comment https://github.com/graphql/express-graphql/issues/390#issuecomment-541328370.  I need to rebase the PR off master, may need additional changes and try it out.

[2019-10-24 13:52] cadenzah commented on #413
`credentials` option should be set to `'include'`, not `'same-origin'`.

[2019-10-24 21:32] IvanGoncharov commented on #390
@martinlevesque I already answered it here: https://github.com/graphql/express-graphql/pull/436#issuecomment-388960292
And the situation stays the same. I don't think I'm in power make desigion like this: add vendor-specific protocol into reference GraphQL server hosted under GraphQL foundation.
I'm just one of ~40 people who have commit right to this repo.

But I understand community frustration

[2019-10-24 22:17] robatwilliams commented on #427
The lines before the one that sets 500:

[code]

So if you add an extension that examines the `result` for errors, you can throw an error with a `status` property which will then be used as the response code. It will replace an errors currently in `result.errors`.

Also note that in an extension, the errors are GraphQL errors and they have an `originalError` property.

[2019-10-25 00:09] junminstorage commented on #390
@IvanGoncharov  got your point. Now winter is coming along with holidays, and now I am thinking about raising my sleeves to write my own and replace the subscription client.

[2019-10-25 16:23] raitucarp commented on #390
Why I bump this feature request? Honestly, I need dynamically reload schema with a subscription feature, express-graphql is easy enough for doing dynamic schema loader.

[2019-10-25 21:07] jsonmaur commented on #427
@robatwilliams That kinda works, though the Typescript typings require the `extensions` function to return an object. Which means all responses will have an empty extensions object now. Also, it doesn't allow you to throw multiple errors if you have them, since that catch statement is assuming only one error.

[2019-10-25 22:48] robatwilliams commented on #427
Implementation is fine with returning non-object, so typings need updating:

[code]

Yes, the single thrown error will replace any existing errors as I said. Agree it's not ideal, the approach might work for some.

[2019-10-28 01:28] Fr33maan commented on #454
Graphql as a query language looks really good because in 1 fetch, you can get deep associations. The only issue now is that the longest query to resolve will be the time to resolve the initial fetch. With http2 we could have several server pushes for populating the result little by little.

[2019-10-28 11:09] just-be-weird commented on #14
For me following hacks worked,

[code]

PS: Worked with package versions-
[code]

[2019-11-06 21:49] IvanGoncharov commented on #390
@martijnwalraven So it seems that the current consensus from GraphQL Foundation is to try to provide some kind of hook/callback that allows you to use different transports for subscriptions including WS transport from Apollo.
It would be great if someone volunteers to experiment with that so we will see if it possible and how much complexity it will add?

[2019-11-07 00:32] tylerreckart commented on #390
@IvanGoncharov That's something I can look into.

[2019-11-07 01:17] junminstorage commented on #390
@IvanGoncharov can you elaborate on this? as all of the sample code people provided above,  for the express backend to support the subscription, it is up to application developer to hook up any SubscriptionServer  into express and work with this express-graphql middleware.

the PR is mainly to pass ws endpoint to front-end, https://github.com/graphql/express-graphql/pull/436/files#diff-1fdf421c05c

[2019-11-07 01:25] martinlevesque commented on #390
If I understandd correctly (I might be wrong - noob here) the issue previously noted by @IvanGoncharov is with the package subscriptions-transport-ws being added in src/renderGraphiQL.js, not the change in src/index.js (?).

Perhaps we could add the _src/index.js_ change first to allow people to actually make it work - without subscription support in graphiql and with proper warning ?

[2019-11-07 02:20] junminstorage commented on #390
nope, see https://github.com/graphql/express-graphql/issues/390#issuecomment-371269023 for example. and please check out the PR linked to this issue.

[2019-11-13 22:31] seeruk commented on #427
I think there should be a hook that we can add, similar to `customFormatErrorFn`. The main thing I wanted to do was log errors on my server, and it's not possible to do that without either ditching `express-graphql` or using something like `hijackresponse`. Not ideal workarounds, and it makes it less than ideal to use express-graphql in production.

[2019-11-14 14:44] IvanGoncharov opened #573 "Update GraphiQL to v0.16"
I can't update GraphiQL past v0.14.
Reproduce:
[code]
Any help will be greatly appreciated 🤗

[2019-11-14 15:11] #562 closed

[2019-11-15 10:01] yarick123 opened #574 "Is it possible to render graphiql documentation explorer on a separated page?"
Is it possible to render the graphiql documentation on a separated web page? Just the same, what makes graphiql, but without the possibility to send / explore GraphQL queries.

The reason is, that our graph(i)ql end points need special authentication. For the access to the documentation we do not need it.

[2019-11-26 11:00] Aligertor commented on #427
+1

[2019-11-26 12:07] Ariel-Dayan opened #575 "feat: add fragments server side"
Allow clients that send queries to use predefined fragments on the server side.
The goal:
1. Shorten the query for every client by avoiding to repeat the fragment deceleration.
2.  Allow the client to have dynamic fragments that are updated server side. For example, if a field was added to the schema server side, the fragment will update accordingly.

[2019-11-27 12:10] jonaskello commented on #559
Looks like something similar was suggested in #178.

[2019-11-27 16:34] acao commented on #573
0.17.0 now has a working minified build again
https://unpkg.com/browse/graphiql@0.17.0/graphiql.min.js
^^

more details:
https://github.com/graphql/graphiql/issues/976#issuecomment-558860070
https://www.npmjs.com/package/graphiql/v/0.17.0
https://github.com/graphql/graphiql/releases/tag/graphiql%400.17.0

[2019-11-28 18:15] acao commented on #574
if you want, you can follow the official graphiql examples for other ways of loading graphiql. implementing a special auth flow is as easy as passing in the fetcher function prop with headers/cookies you need. then with your http server you can serve all of this from a static html file, so you can choose whatever route you like and customize graphiql however you like! we will ship a generic middle

[2019-11-30 15:43] yarick123 commented on #574
Thank for the answer. I hoped, that this functionality could be easily reused...

[2019-11-30 17:04] acao commented on #574
@yarick123 it will soon, I promise!

[2019-11-30 17:05] acao commented on #574
would you mind if i turn this into a feature request and keep it open?

[2019-11-30 17:33] acao commented on #573
I'll create a PR today

[2019-11-30 17:35] yarick123 commented on #574
@acao of course I do not mind.

[2019-11-30 17:41] acao opened #577 "Convert to a monorepo"
Converting to a lerna + yarn workspaces monorepo, with a `packages/` path, or maybe `/core` and `/middlewares` eventually?

- Make sure to preserve git history
- Decide on fixed or independent versioning (I would suggest fixed in this case)
- Use lerna's built in conventional commits? (Add commitlint in a seperate PR)

[2019-12-01 19:03] acao commented on #559
yes, I think there's one design change we need to make. currently we are setup for connect-based http servers, so express works as does hapi, restify, etc if you see the docs. However, Koa is not connect based. There is `koa-connect` which is not reccomended. So we need a core server module that express-graphql exports, as well as a `koaMiddleware` however we will probably keep it to one package a

[2019-12-01 19:04] acao commented on #559
@jonaskello good point, will call this a dupe of #113 ?

[2019-12-01 19:04] #559 closed

[2019-12-01 19:06] acao commented on #113
from the issue i just closed as a dupe of this:

[2019-12-09 14:12] josorioromero opened #579 "Inject custom headers to express graphql"
Hey everyone,

I'd like to know how to inject headers when using express graphql. The problem is, if I use multiple instances like this, importing modules to work as a SPA every single header coming from the module get overwritten by the first module I import:

[code]

So, is there a way to inject headers directly as params in the `expressGraphQL` function?

[code]

Thanks.

[2019-12-09 14:45] acao commented on #579
good question! because you are reusing the same express routes each time to instantiate each middleware, the middlewares will overwrite eachother, so in this example only the third schema will be executable. you may want to read the docs to express app.use(). do you want to combine schemas?

as far as adding headers in express, you can do this via a middleware that uses `res.headers.set()`. make s

[2019-12-09 14:48] josorioromero commented on #579
Thanks for the reply @acao
Yes I need to combine the schemas using one single `app` instance because this is a SPA. I need to add a custom header for every single module to send the module name. Gonna try `res.headers.set()` though.

[2019-12-09 15:10] josorioromero commented on #579
update @acao as I need to set the headers in the request, the `res.headers.set()` approach won't work for me

[2019-12-09 15:19] acao commented on #579
if you need to set the headers in the request, then it sounds like you need to do that on the client side? if you have some reason otherwise use req.headers.set()

@urigo /the guild have an excellent tool for merging schemas:
https://github.com/Urigo/merge-graphql-schemas

[2019-12-09 15:22] josorioromero commented on #579
I did it on the cliend side @acao however, the problem appears when I'm importing the routes as you mentioned above, because `app.use` overwrites the header value. So I thought it could be possible to inject headers directly to `expressGraphQL` in the server.

[2019-12-09 19:22] acao commented on #579
I'm sorry but it just doesn't look like you can override inbound request headers, and i'm still not really sure why. if `graphql-express` had a `headers` option it would be for setting response headers, not overriding the inbound request headers.

Maybe you'll find some answers from the express community: https://gitter.im/expressjs/express

[2019-12-09 19:22] #579 closed

[2019-12-09 19:22] #577 closed

[2019-12-09 19:24] acao commented on #575
to follow conventions elsewhere, we might accomplish this via graphql-config where folks are already using similar capability for IDE tooling? but it should also be possible without graphql-config

[2019-12-09 19:24] acao commented on #575
@urigo what do you think about graphql-config plus express-graphql? I know we've been mostly focused on this for dev tooling

[2019-12-10 14:18] gtamas opened #580 "Question about performance"
I have a question about performance.

I've created a simple NodeJS server which supports GrahQL via IBM's OpenAPI-to-GraphQL lib and Express-GraphQL. Just tried to run some basic performance tests and I noticed that there is a huge performance difference between simple REST and GQL calls.

For example:

REST:

ab -n 1000 -c 100 -k -m GET -T application/json "http://127.0.0.1:3000/api/test"

Reques

[2019-12-10 14:20] acao commented on #580
can you see what happens without the open api to graphql middleware?

[2019-12-10 20:13] gtamas commented on #580
@acao
Thanks for getting back to me.

I tested this, and I don't think it's OtG.

Here is what I did:
I replaced the GQL schema generated by OtG with and empty one and then I added a single resolver like so:

[code]

So now it's just a basic schema. Yet, AB test produces very similar results as before:

ab -n 1000 -c 100 -k -m GET -T application/json "http://127.0.0.1:3000/graphql?query={test}"

R

[2019-12-10 20:27] gtamas commented on #580
I guess there might be no way to make this faster. OtG generates similar resolvers too.

Replacing await request('http://127.0.0.1:3000/api/test') with some static string produces much better results, like 2000 req / sec. So it's slow because of the extra requests.

[2019-12-10 20:27] #580 closed

[2019-12-18 07:02] starkana commented on #427
Still waiting for a fix on this..

[2019-12-22 20:40] coockoo commented on #427
I've made a simple rewriter for my app using [on-headers](https://www.npmjs.com/package/on-headers) package.
[code]

When it encounters a `500` error it replaces it with `400`.

[2019-12-22 21:09] seeruk commented on #427
@coockoo I guess that might work if all of your data is static and in-memory, but if there's anything where an actual internal error can occur, you'll just be signalling to your consumers that it's their fault, not a (hopefully temporary) issue on your end. This would be pretty confusing.

I think you need the actual error to be able to handle it properly, like the hijack response approach.

[2019-12-23 11:12] coockoo commented on #427
@seeruk As for now, I can see that `hijackresponse` calls the callback [only in one case](https://github.com/gustavnikolaj/hijackresponse/blob/1d587ca2519ad8fbd29527dc16689811a09691b0/lib/hijackResponse.js#L116) with the `null` as an error, so it doesn't really solve this problem, as `if (err)` always returns `false`.

[2019-12-27 13:12] SamMaxwell commented on #556
My project uses express-graphql and I require it to support export to xlsx, csv and pdf. It would be quite easy, if express-graphql provided a way to override or extend the sendResponse function. For now I have to override the express response object in middleware.

[2020-01-09 13:39] klaaz0r commented on #561
I was looking into this, but since you can add cache directives and you receive them inside the `extensions` field it should be possible the map those fields and find the correct caching control and set those headers.

https://github.com/apollographql/apollo-server/blob/master/packages/apollo-cache-control/src/index.ts this is how apollo server does it.

This is an example of what you should recei

[2020-01-20 06:26] dionjwa commented on #71
@leebyron at the end of a valid non-graphql OAuth flow (e.g. firebase) the client ends up with a token that you need to send to the server (and expecting the server to validate the token (from firebase) and set a secure cookie. This is one of the few ways to have graphql subscriptions since websockets cannot set custom headers (so only cookies provide security).

[2020-01-28 15:07] rjnienaber commented on #362
For anyone else that could potentially be stuck on this, the key point on the [Object Types](https://graphql.org/graphql-js/object-types/) page is this:

The example from the OP can be made to work with the following changes:

Add a `Location` class:
[code]

Return it from the `locations ` resolver:
[code]

[2020-02-06 10:09] levitomer opened #584 "Can't install express-graphql in my project"
There is an issue while I am trying to `npm install express express-graphql graphql --save`

Log file shows these errors interchangeably on frequent attempts:

**1st attempt:**
[code]
**2nd attempt:**
[code]

[2020-02-12 01:58] zoultrex commented on #14
Reading this helped me understand better how things go back and forth to solve my problem thank you!

[2020-02-22 21:31] acao commented on #573
seems the strategy has changed, and now it gets locally bundled with the server on initialization? clever!

so i should just need to bump the GraphiQL version

[2020-02-25 20:03] dland512 opened #587 "Can you inspect the query object for certain fields?"
Is it possible to get an object representing the query passed in by the caller so I can inspect what they are asking for before I get it?

For example they could request this:
[code]

or this:

[code]

For performance purposes it would be good to know whether the user actually wants the `city` data. If not I don't want to incur the extra work on the database to grab it.

Can this be done?

[2020-03-12 11:40] pranaypratyush commented on #454
@Fr33maan https://github.com/dunglas/vulcain seems to be doing the same but I think it would need client-side changes as well.
Using HTTP/2 as the transport without changes to graphql should already show some improvements in performance.

[2020-03-13 17:16] machineghost opened #588 "Readme Refers to `customFormatErrorFn`, but Actual Function Seems to be `formatError`"
The readme.md documentation talks about `customFormatErrorFn`, but that option didn't work for me at all.  However, I discovered the (much better named) `formatError` option, and it worked great, so it seems the documentation is just behind.

I would submit a PR but I'm not 100% certain I'm correct about the above (I just know `formatError` worked for me and `customFormatErrorFn` didn't).

[2020-03-16 20:30] IvanGoncharov commented on #588
@machineghost What version of library you are using?
Can you please post the output of `npm ls express-graphql`?

[2020-03-16 20:43] machineghost commented on #588
└── express-graphql@0.5.4

Guess I need to update this repo; sorry!

[2020-03-16 20:43] #588 closed

[2020-03-16 22:26] timscott commented on #427
Any guidance here? I would be happy to make a PR to either:
1. Look for `statusCode` on the error (which can be added in `formatError`)
2. Hard code resolver errors as 200, and let extensions tell the client what kind of error(s) happened

Option #2 is how the other graphql servers I've worked with do it. Either option is preferable to hard coded 500.

[2020-03-18 17:09] machineghost opened #590 "How Can I Use customFormatErrorFn to Get What My Resolver Returned (When it Doesn't Match the Schema and Causes an Error)"
I'm not sure if this is a documentation bug or a feature request.  What I'm looking for is simple: when I have (say) a field `foo: Foo` where `Foo` has a required sub-field ... and I return an object from my resolver for `foo` which doesn't have that field ... I want to see what my resolver returned.

However, from the documented fields there doesn't appear to be any way to access the value that w

[2020-03-18 17:28] machineghost commented on #590
Actually, it looks like this would be super simple to fix (but it does look like a change is needed, not just documentation).

On line 371 of index.js (https://github.com/graphql/express-graphql/blob/34f4b210dece533d94f642e3fe2b892c02c0d556/src/index.js) we can see that `express-graphql` has the results, and simply doesn't give them to the error formatter:

        // Format any encountered errors

[2020-03-18 17:45] machineghost commented on #590
Actually, this was so simple I decided to just make the PR anyway.

I'm happy to modify as needed, but since I can't imagine this would hurt anything, and would provide useful debugging information (plus slightly improved documentation), I hope we can get it accepted in some form.

[2020-03-23 04:03] carlosmarte opened #592 "Using extensions to modified results object"
I’m working on a project that has structured and unstructured data. Some downstream system is updated through a JSON editors were teams can add and remove fields. This is counterintuitive and problematic because GraphQL enforces types. At the current moment my work around is to stringify the object and assign it to a primitive type (String) in my GraphQL schema.

I just realized that within the ex

[2020-04-03 14:39] vivekmahato26 opened #593 "Graphql Query breaks after 2nd layer of tree"
I am using Express-graphql v0.9.0 with Graphql v14.6.0 and dataloader v2.0.0 on mongodb
Every API runs perfectly as long as i query for one linked collection of the graphql tree as soon as i go for the third layer of link it breaks

[code]
breaking Change
[code]

[2020-04-07 09:37] nileio commented on #390
looks like this thread is dead .. its April 2020, and looks like its still stagnant for some reason though the change look pretty small.. anyone ?

[2020-04-08 14:50] martinlevesque commented on #390
Yeah it's kind of disappointing. I would suggest adding a clear comment in the readme stating that there is no support subscriptions, and no plan to add its support.

[2020-04-13 16:25] queendevelopers commented on #449
Guys.
What I have done is gone through each warning and tried to install them.
`npm WARN graphql-express@2.0.1 requires a peer of rxjs@^6.5.0 `
so I did `sudo npm install rxjs` then I again got warning with
`..requires a peer of graphql@^14.4.1` so I guess the graphql is not installed in my system so I did
`sudo npm install graphql` which respond
`npm WARN y@1.0.0 No repository field.` then again

[2020-04-14 08:12] dandv opened #596 "Easy way to log queries?"
I tried to log queries as described in [this SQ question](https://stackoverflow.com/questions/41142471/log-all-graphql-responses-with-express),

[code]

Problem is, `request.body` is always undefined. I'm sending POST queries from graphiql.

On the other had, would it not make sense to make the query available in the [`extensions`](https://github.com/graphql/express-graphql#providing-extensions),

[2020-04-17 07:06] pouyajabbarisani opened #597 "Best way for split schema into different modules?"
Hi, I'm new to QraphQL and I found some best practices for module system in apollo-server but I can't find anything for express-graphql!

I'm using GraphQLSchema instead of buildSchema. and when I'm trying to split my code into different modules, it will sticks in NodeJs circular dependencies error (returns empty object).

As a GraphQL expert, which one do you recommend? GraphQLSchema or buildSche

[2020-04-20 15:30] yanickrochon commented on #597
Take a look at [`merge-graphql-schemas`](https://github.com/Urigo/merge-graphql-schemas)

[2020-05-14 18:37] amjedomar commented on #390
The community (including me) desperately needs `subscriptions` feature in `express-graphql`

[2020-05-14 18:48] acao commented on #390
hey folks! i happen to be a maintainer. happy to see what i can do.

ivan has been busy with `graphql` and i’ve been busy with maintaining `graphiql` , graphql playground and the LSP.

sadly this repo has been neglected far more than it should be. if anyone is interested in becoming a maintainer of this repo that would be fantastic. it is widely used still by some very large companies

for now, is

[2020-05-14 19:03] acao commented on #390
also if someone wants to open a pull request for this feature, i would be happy to review it! ill try to keep a closer eye out in my github notifications

[2020-05-17 02:00] es50678 commented on #113
I would definitely love something like this to help handle permissions.

Currently, I do the following:
- add authentication middleware
- handle permissions for each field, query, or mutation individually in each resolver by calling functions that handle the permissions from the resolvers.

I have to do permissions directly in the resolvers since we have some pretty complicated permissions going o

[2020-05-18 17:36] tatianafrank commented on #439
I'm also experiencing an issue with req.headers not containing my custom headers..

[2020-05-31 23:47] danielrearden commented on #597
The `fields` option provided to the `GraphQLObjectType` and `GraphQLInputObjectType` constructors can be a plain object that maps each field name to its respective configuration, but it can also be a function that returns this object. So instead of doing this

[code]

you can do this

[code]

Depending on your project structure, that may be enough to fix the circular dependencies. However, it's al

[2020-06-01 00:01] danielrearden commented on #596
That information is already available. The `extensions` function is passed a `RequestInfo` object with the following properties:

[code]

The `document` is the parsed GraphQL [document](http://spec.graphql.org/June2018/#sec-Language.Document) that was sent to the server. You can convert this back to a string using the `print` function from the core library:

[code]

Documents may include more than

[2020-06-01 00:06] danielrearden commented on #593
This issue boils down to how you've implemented your resolvers and/or data loaders. If your issue is still unresolved, please consider posting it on Stack Overflow with the minimum amount of code necessary to reproduce it. You can also check out [these links](https://graphql.org/community/) for additional community resources.

[2020-06-01 00:11] danielrearden commented on #592
A `formatResponse` option may be added in the near future that would probably be better suitable for your use case. For unstructured data, you might also consider utilizing a custom scalar, like this [JSON scalar](https://github.com/Urigo/graphql-scalars#json) from `graphql-scalars`.

[2020-06-01 00:15] #593 closed

[2020-06-01 00:16] #597 closed

[2020-06-01 00:22] danielrearden commented on #590
@machineghost Thanks for contributing. It looks like a PR was never opened to merge this change. Could you rebase your branch and open a PR?

[2020-06-01 00:30] danielrearden commented on #587
The resolve function is passed four arguments -- the parent value, the field's arguments, the context and a `GraphQLResolveInfo` object. The last one contains information about the request, including the selection set for the field if it returns an object type. Here's what that object looks like:

[code]
You can parse the `fieldNodes` to determine what child fields were requested. There's a pretty

[2020-06-01 00:39] danielrearden commented on #584
That's normally just a hiccup with the npm registry. Those versions of both packages do exist. If the issue doesn't resolve itself, deleting your `package-lock.json` file may help.

[2020-06-01 01:00] danielrearden commented on #465
There's several libraries available that provide this functionality. You might want to check out [graphql-rate-limit](https://github.com/teamplanes/graphql-rate-limit) which looks like it works both standalone and alongside with GraphQL Middleware.

[2020-06-01 01:06] danielrearden commented on #440
Example from the `graphql-upload` docs:

[code]

[2020-06-01 01:13] danielrearden commented on #401
[GraphQL Middleware](https://www.npmjs.com/package/graphql-middleware) is the most popular package for adding middleware-like functionality to your resolvers. However, you can also just get away with creating a higher-order function that you can wrap your resolvers in.

[2020-06-01 01:23] danielrearden commented on #454
`express-graphql` is just middleware for Express, so there's no reason you can't use it with HTTP2. You can use `spdy` to create an HTTP2/SPDY server that'll work with your Express instance:

[code]

[2020-06-01 01:29] #454 closed

[2020-06-01 01:33] #401 closed

[2020-06-01 01:33] #465 closed

[2020-06-01 01:34] #584 closed

[2020-06-01 01:35] #587 closed

[2020-06-01 01:42] danielrearden commented on #428
For context, [this is how Apollo Server does it](https://github.com/apollographql/apollo-server/blob/ab94135398f1a32f5f779e2539e722cc587f92d6/packages/apollo-server-core/src/runHttpQuery.ts#L283-L345). The request body can be an array of objects, in which case they are effectively processed as individual requests and then aggregated and sent back as an array of response objects.

[2020-06-01 15:29] machineghost commented on #590
@danielrearden Fixed, sorry about that (https://github.com/graphql/express-graphql/pull/612)

[2020-06-02 05:53] DethAriel commented on #427
completely agreeing with @berstend on this:

While I understand that `express-graphql` might choose to follow a different paradigm, I am a strong believer that supporting industry best practices is beneficial to the ecosystem.

It seems like there has been no real progress on this issue. Given the ~5.3k ⭐️ marks on this project, I (hopefully with a bunch of other people as well) would like to unde

[2020-06-04 10:30] #596 closed

[2020-06-04 10:31] #592 closed

[2020-06-04 10:33] #473 closed

[2020-06-04 10:35] #420 closed

[2020-06-04 10:35] #440 closed

[2020-06-09 18:29] wibobm opened #625 "When is next release?"
Many of the recent commits would be nice to have packaged up in a release.

[2020-06-10 05:07] #573 closed

[2020-06-10 05:12] IvanGoncharov commented on #625
@wibobm We want to pack all minor breaking changes into one release to migration easier.
ETA end of this week.

[2020-06-10 05:12] #625 closed

[2020-06-23 14:31] hassaaneforte commented on #9
can someone please guide me about the types, controllers and mutation for uploading a picture though GraphQL

[2020-06-23 16:55] danielrearden commented on #9
@hassaaneforte There's several examples above. You may also find it helpful to just use [graphql-upload](https://github.com/jaydenseric/graphql-upload). It [works with express-graphql](https://github.com/jaydenseric/graphql-upload#function-graphqluploadexpress) and provides an Upload scalar for you. See the docs for more details.

[2020-06-28 17:25] IvanGoncharov opened #647 "Prepare next release (0.10.0)"
- [x] Update restify @danielrearden
- [x] Improve coverage @danielrearden
- [x] Document on how to disable introspection @danielrearden
- [ ] Update GraphiQL @IvanGoncharov
- [ ] Integrate cspell @IvanGoncharov

[2020-07-05 11:30] #647 closed

[2020-07-05 14:58] sumitsssss opened #665 "Syntax Error with express-graphql"
Here I am trying to creating Graphql Schema
Code=>

`const express = require('express');

const graphqlHttp = require("express-graphql")
const { buildSchema } = require('graphql');

const app = express();

app.use(express.json());

app.use(
  '/graphql',
  graphqlHttp({
    schema: buildSchema(`
        type RootQuery {
            events: [String!]!
        }

        type RootMutation {

[2020-07-05 15:03] danielrearden commented on #665
@sumitsssss Thanks for submitting this issue. This looks like a regression on our end. We'll get it patched ASAP.

[2020-07-05 15:16] IvanGoncharov commented on #665
Fixed in `0.10.1` 📦

[2020-07-05 15:16] #665 closed

[2020-07-05 18:34] RaghavK16 opened #667 "TypeError: expressGraphQL is not a function"
**Import in the server.js file:**
`const expressGraphQL = require('express-graphql')
`
**While using the app.use function as follows:**

[code]

**I'm getting an error:** TypeError: expressGraphQL is not a function

Is it a package dependency issue?

[2020-07-05 18:43] danielrearden commented on #667
Please import the middleware like this as shown in the README:

[code]

If you don't want to use destructuring, then you can do something like

[code]

[2020-07-05 18:43] #667 closed

[2020-07-05 19:06] RaghavK16 commented on #667
Thanks, appreciate it a lot.

On Mon, Jul 6, 2020 at 12:13 AM Daniel Rearden <notifications@github.com>
wrote:

[2020-07-05 19:43] eldano opened #668 "Should cspell be a dev dependency?"
Should cspell be a dev dependency?

It seems end users don't need all the dependencies added by this package.

[2020-07-05 20:05] danielrearden commented on #668
Fixed in [v0.10.2](https://github.com/graphql/express-graphql/releases/tag/v0.10.2)

[2020-07-05 20:05] #668 closed

[2020-07-06 10:52] youhosi opened #672 "Problem with GraphiQL Headers"
Hello everyone, when sending a request, headers are not sent.

GraphQL Express: 0.10.2

Server:
[code]

GraphiQL client:
<img width="1097" alt="Zrzut ekranu 2020-07-6 o 12 51 36" src="https://user-images.githubusercontent.com/24297084/86585941-74d7a080-bf87-11ea-85c6-1e9dbf4f55fd.png">

[2020-07-06 18:54] #672 closed

[2020-07-06 19:00] IvanGoncharov commented on #672
@youhosi Thanks for detail report 👍
Fixed in `0.11.0` 📦

[2020-07-07 12:30] danielrearden opened #675 "Middleware refactor"
I'm opening this issue so we can further discuss approaches to A) splitting the middleware into separate functions and B) supporting additional frameworks. Here are some initial thoughts:

**Goals**
* Provide reference implementation of [GraphQL over HTTP spec](https://github.com/APIs-guru/graphql-over-http)
* Support a wider range of HTTP frameworks
* Empower consumers of the library to more easi

[2020-07-09 09:18] shaked-sapir opened #678 "2nd resolver in hierarchy doesn't get previous resolver's result as parent"
Hi!
I have the following schema structure:

[code]

In the resolver of "find", I return the args of it because I need to use them when analyzing "chair".
I expect to see these args in the <parent> part of "chair" [resolve(parent, args, context, info)], as the parent part should contain the result of the previous resolver at the same hierarchy, which happens to be "find" in this case, but instead t

[2020-07-09 10:57] danielrearden commented on #678
It's hard to know what the exact issue is without seeing all the relevant code in question. We use issues to track bugs and feature requests only, so please consider opening a question on Stack Overflow. See [this page](https://graphql.org/community/) for additional community resources that are available as well, like the official Slack channel.

[2020-07-09 10:57] #678 closed

[2020-07-13 23:14] Enado95 commented on #444
Works for me. Here's how i did for those who are wondering. I created my own custom error:
[code]

Threw the error in the resolver and then referenced my additional property like so:
[code]

[2020-07-22 05:19] zebralight commented on #14
hello. I seem to be experiencing issues with CORS not being enabled for graphql. I had tried the three versions given by @just-be-weird to no avail.  Below is my code:
[code]

thanks.

[2020-07-24 15:21] abhijeetsingh-22 commented on #390
If anyone is still looking for a solution to use subscriptions in express-graphql, I have found a simple way to do this. Have a look at this
[https://youtu.be/r5KY5m5OXsI](https://youtu.be/r5KY5m5OXsI)

[2020-07-24 15:28] martinlevesque commented on #390
Hey @abhijeetsingh-22 thx will look into it. Would you mind to make a repo/gist with your sample app?

[2020-07-24 15:30] abhijeetsingh-22 commented on #390
Its a pleasure If I could help
The video description has the link to repo.
Ping me if you have any query

[2020-07-29 14:45] martinlevesque commented on #390
@abhijeetsingh-22 looked at your example. It works, however you basically have, if I understand correctly, two schemas, one with express-graphql and one on another http server with subscriptionserver, and the types basically need to be duplicated in both schemas. Is there a way to share types between two schemas (made an issue here https://github.com/abhijeetsingh-22/Realtime-Chat-App/issues/1 )?

[2020-07-29 14:59] abhijeetsingh-22 commented on #390
@martinlevesque sure I will look into this issue. Currently I am little busy. I will update in 2-3 days

[2020-07-30 13:22] martinlevesque commented on #390
works well with these 2 changes https://github.com/abhijeetsingh-22/Realtime-Chat-App/issues/2 and https://github.com/abhijeetsingh-22/Realtime-Chat-App/issues/1

Will have to check if it works with graphiql (I guess not?).
After checking this I would suggest to point a link to this sample (or include the sample example in "examples"), as it allows to have working subscriptions with express-graphq

[2020-08-02 20:11] NetOperatorWibby commented on #675
I'd like support for curveball: https://www.npmjs.com/package/@curveball/core

[2020-08-10 15:57] louisse66 commented on #10
Hello,

I have this in my app.js:

const express = require("express");
const bodyParser = require("body-parser");
const graphqlHttp = require("express-graphql").graphqlHTTP;
const { buildSchema } = require("graphql");

const app = express();

app.use(bodyParser.json());

app.use(
  "/myproject",
  graphqlHttp({
    schema: buildSchema(`
        type TypeQuery {
            events: [String!]!

[2020-08-11 07:39] xarvey opened #685 "Curious why getting URLSearchParams is not defined from express graphql"
I was trying to follow the instruction and setup https://graphql.org/graphql-js/running-an-express-graphql-server/ When running node server.js and tried to open localhost:8080/graphql

I got an error message {"errors":[{"message":"URLSearchParams is not defined"}]}

I dug into the node a bit and found https://github.com/graphql/express-graphql/blob/master/src/index.ts#L469 is the place the code st

[2020-08-11 10:43] danielrearden commented on #685
URLSearchParams was added as a global in Node 10. Please make sure you are using a version of Node that's compatible with the library.

[2020-08-11 10:43] #685 closed

[2020-08-11 14:52] rwagatenga opened #688 "is it possible to use subscription in express-graphql?"
I just wanna ask if some has explored how to use subscription in this package of express-graphql. if it's possible you can show me how to do it I am new to this package and Apollo is somehow confusing me. please help

[2020-08-11 15:45] junminstorage commented on #390
The PR for this is created https://github.com/graphql/express-graphql/pull/687. It contains a link to tutorial project showing how it is done for subscription and web socket integration.

[2020-08-12 07:45] xarvey commented on #685
Thank you so much, that's exactly the problem.

⇒  node --version
v9.11.1

[2020-08-31 08:09] coolemur opened #693 "Getting [Object: null prototype] in passed arguments"
Hello.

Trying basic example https://graphql.org/graphql-js/running-an-express-graphql-server/

In schema I'm trying to pass input type.

My Schema looks like this:

[code]

In root I've:

[code]

Query looks like this:

[code]

In console log I'm getting orderBy object:

[code]

Is there a reason why each input type has "Object: null prototype" ?
(basically this applies for every input type that

[2020-08-31 09:36] #693 closed

[2020-09-07 16:40] pedrocardoz0 commented on #688
take a look at #390

[2020-09-18 15:58] jchariot opened #697 "How to measure time taken of a GraphQL Query?"
From here:

So I could already get the GraphQL query and GraphQL JSON result and store them for logging/debugging purpose already:
[code]

But I want to know how long a query takes. From the bolded statement above, how could this be accomplish? Which variable must I go for?

[2020-09-30 12:04] crazyx13th commented on #427
my typescript solution:
[code]

[code]

[2020-09-30 12:07] MatthiasKunnen commented on #427
I have opened a PR, #696, to address this issue. Any feedback is welcome.

[2020-10-10 17:07] Hongbo-Miao commented on #390
[graphql-transport-ws](https://github.com/enisdenjo/graphql-transport-ws) is also a very good library to provide GraphQL subscription.

Here are the codes that I have succeed:

**Server (GraphQL Schema Definition Language)**

[code]

**Server (GraphQL.js GraphQLSchema object way)**

[code]

**Client**

[code]

*DISCLOSE: I am not associated with the library.*

[2020-10-12 17:57] jayadeba opened #702 "Using the equivalent HTTP status code"
Hi,
I see that in the reference implementation there's usage of code 400 for Request entity too large. Can the code 413 be used instead?

https://github.com/graphql/express-graphql/blob/master/src/__tests__/http-test.ts#L1467

[2020-10-29 16:07] jamespedid opened #704 "Allow context to be a factory function"
Hello, I would think it would be a great idea for the context to be a factory function that has the following signature in addition to the other options that are available.

[code]

This will allow us to initialize context objects that depend on the request and response objects of express.

[2020-10-29 16:16] jamespedid commented on #704
Edit: realized that this can be achieved by using a factory pattern on the graphqlHTTP options argument.

[2020-10-29 16:16] #704 closed

[2020-11-09 17:43] #702 closed

[2020-11-12 22:18] iot-resister opened #720 "Can I resolve a promise in the middleware callback?"
Hello,

Using `await` in there seems seems to break things. It works fine when I test it with supertest, btw.

[code]

 I get

`500: only valid absolute URLs can be requested`

Thanks!

[2020-11-12 22:27] iot-resister commented on #720
this issue is not related to this library.  please disregard.

[2020-11-12 22:27] #720 closed

[2020-11-15 17:40] LunaticMuch opened #721 "Does context in express-graphql work differently from Apollo-server?"
I am wondering if the context in express-graphql works differently from the apollo-server implementation. I've been working with a piece of code, originally based on apollo-server, and ported to express.

I replaced the apollo with express and express-graphql on a [fork](https://github.com/LunaticMuch/graphql-music/tree/express-graphql) and made it running. No changes to the previous context defin

[2020-11-15 19:51] danielrearden commented on #721
`context` should be an object that will be made directly accessible to your resolvers. You can pass in a function, but that function will not be called by `express-graphql`. Just pass in a plain object instead.

[2020-11-15 19:51] #721 closed

[2020-11-16 10:12] LunaticMuch commented on #721
Thanks for confirming. I know how the context work, in theory, but I cannot explain so why it does not work. As you said, because the context is just passed to the resolver, if the context function/object is correct, it has to work on both apollo and express-graphql. Actually, it does not.

[2020-11-16 13:18] danielrearden commented on #721
My point is that, unlike with Apollo Server, you can pass a function to context in `express-graphql`, which is what you are doing:
[code]

The correct way to do this, with minimal changes to your code, would be something like:

[code]

[2020-11-18 14:13] IvanGoncharov commented on #688
@pedrocardoz0 Thanks for linking the issue 👍

[2020-11-18 14:13] #688 closed

[2020-11-18 15:12] IvanGoncharov commented on #697
@jchariot You can use this code:
[code]

[2020-11-18 15:12] #697 closed

[2020-11-27 10:44] EmmanuelTheCoder commented on #14
I'm currently trying to query the github graphql api but I have been encoutering CORS issue. How do I solve that, please? BTW, I have tried using Heroku middleware but gives a 429 [too many requests] error or unauthorized...

[2020-12-10 17:46] akelmj opened #729 "call graph query from the same server"
Hi,

i want to call graphql query from the same server , this is my code example:

`
const PORT = 4000;

var app = express();

app.use(
  '/graphql',
  graphqlHTTP({
    schema: schema,
    graphiql: true,
  }),
);

app.get('/posts', function (req, res) {

   let myquery = `query{
        posts{
          id
          title
        }
      }
      `;

      let result = // graphql call here

    r

[2020-12-16 21:16] XavierLeTohic commented on #439
Hi,

I found out how to do it:

[code]

Then later in your resolvers:

[code]

It also works with Prisma. If you are using passport you can do `req.user = user` in the middleware and it will be available in the context too.

[2020-12-18 09:48] Dreamystify opened #731 "Best way to handle errors in resolvers?"
I have built a graphql server with throwing errors which returns the errors with a 500 status. I also have a ios app with apollo consuming the graphql server. Problem is apollo cant read the errors from the failed function caused by 500 status. Is there a way to change the 500 status code to 4xx?

[2020-12-18 11:51] danielrearden commented on #731
The only time `express-graphql` will throw 500 errors is if the schema itself is invalid. Arguably, if the schema is invalid, your server shouldn't start to begin with. You can manually call `validateSchema` on your schema before starting your server and exit your process with an error if any errors are returned.

Issues are used for bug reporting and features only. If you have additional question

[2020-12-18 11:51] #731 closed

[2020-12-18 22:12] Dreamystify commented on #731
The schema is valid but it still returns the 500 error with the errors array

[2020-12-21 17:26] XavierLeTohic commented on #729
Hi,

You can directly use `graphql` from graphql package without using an HTTP server, pass it the schema and a query to use it:

[code]

[2021-01-03 01:05] joshbedo commented on #390
Whats the status on this? Would love to be able to use subscriptions for a messaging feature I have.

[2021-01-03 15:13] acao commented on #390
oops forgot to close this ticket! juggling so many efforts in my free time 🥵 . it's very important to note that `express-graphql` has *always* supported subscriptions, it's just a matter of configuration. for example, graphql-ws has had a [config example](https://github.com/enisdenjo/graphql-ws#express) for some time.

we have started with [updating the docs](https://github.com/graphql/express-gra

[2021-01-03 15:13] #390 closed

[2021-01-05 18:17] joshbedo commented on #390
Yeah more documentation would be great! its not super clear on how the setup works.

[2021-01-06 14:35] Smilebags commented on #228
Is there any better solution to this?

[2021-01-10 23:22] lingo opened #732 "Difficulty returning custom errors"
I may be missing something, but as far as I can see, the only way to really customize the error returned from resolver functions is via the `customFormatErrorFn` option.  The headers, status code, and `graphqlErrors` members of errors returned from resolver functions are ignored.  The only member of the thrown error that is used is the result of `toString`.

https://github.com/graphql/express-grap

[2021-01-10 23:28] lingo commented on #732
Nevermind, can't read code today!
I see that createError is actually taking the `rawError` as a parameter.

[2021-01-10 23:45] #732 closed

[2021-01-13 17:39] kaushik143 commented on #474
@IvanGoncharov Is the change for adding optional validationCache is in the master branch or you rejected this proposal. I was looking at master I couldn't the change related to that but it is mentioned here it is closed

[2021-01-13 17:52] kaushik143 commented on #474
@IvanGoncharov  Is the proposal for validationCache accepted? I looking to do a similar kind of optimization for improving GraphQL performance

[2021-01-16 13:31] andrehsu opened #734 "Publish new version of express-graphql"
@IvanGoncharov, is it possible to release a new version of express-graphql containing all the latest commits? Specifically, I want to use the features implemented in PR #696.

[2021-01-16 14:19] acao commented on #734
I can look into that today!

[2021-01-17 01:32] acao commented on #734
I don't have permissions for this project on npm, perhaps @IvanGoncharov or @brianwarner can help me with this?

[2021-01-17 14:22] acao commented on #734
@andrehsu we have reverted this PR as it diverges from the transport spec. if you would like to have different error response codes, you'll want to take that up with the graphql-over-http transport spec WG!

[2021-01-17 14:22] #734 closed

[2021-01-17 14:35] andrehsu commented on #734
@acao I've read the GraphQL Over HTTP spec, and I don't understand why the commit was reverted.

Right now, the status code is always `500` for errors, when more appropriate status codes might be `400` for malformed requests, `401` for unauthenticated requests, `429` for too many requests, etc.

If you [read here](https://github.com/graphql/graphql-over-http/blob/master/spec/GraphQLOverHTTP.md#sta

[2021-01-19 20:15] trevorezwaiver commented on #71
I apologize if this is the incorrect place to post something like this. I have GraphQL calling my rest api in it's resolver. When a person logs in I issue a jwt in a cookie. I have my api locked down and GraphQL is working fine if I manually pass over the cookie. However, when I'm in my app, I had planned to pass over the cookie as an argument but I can't since it's a cookie... Could I possibly us

[2021-01-23 06:29] proehlen commented on #427
@acao Since pull request #696 has been reverted in #736, can this issue be re-opened?  I could log a new issue but the discussion here is useful history.

[2021-01-24 15:19] acao commented on #427
@proehlen the best place for this discussion would be:
https://github.com/graphql/graphql-over-http

this is where the whole spec for HTTP error codes is decided on. if the HTTP spec changes, we can update this reference implementation!

[2021-01-24 16:17] MatthiasKunnen commented on #427
The question I have is how #696 violates the spec?

[2021-01-24 19:28] acao commented on #427
this was @IvanGoncharov's resolution on slack:

We discussed it bunch of times and consensus is that we should return non-2xx code for case where `data` is `null` and `2xx` for cases where `data` contains some `data`
https://github.com/graphql/graphql-over-http/blob/master/spec/GraphQLOverHTTP.md#status-codes

[2021-01-25 04:51] proehlen commented on #427
@acao thanks for the link.  I don't feel confident enought to raise a new issue there.  I've hacked around it using @crazyx13th 's solution in the mean time but if I could just make a couple of observations here before I move on:

In general, I'm not sure http status code is an approriate mechanism for indicating problems with queries that managed to resolve (even if aborted by the api for whateve

[2021-01-25 20:08] MatthiasKunnen commented on #427
I agree with @proehlen, I also wished to use `handleRuntimeQueryErrorFn` to add error info in the response headers. It might be true that you could use the function in a way that violates the spec but its existence and multiple usages for it, don't.

[2021-01-25 20:36] acao commented on #427
personally, I think it makes sense too.

we can improve the [HTTP transport spec error codes](https://github.com/graphql/graphql-over-http/blob/master/spec/GraphQLOverHTTP.md?rgh-link-date=2021-01-24T19%3A28%3A27Z#status-codes) as much as we want, but users will almost always have edge cases or different needs altogether.

following the spec by default is good enough for me and for a reference imp

[2021-02-02 16:56] derek-miller commented on #427
I think it should be revisited and implemented in such a way that it cannot violate the spec if desired. If the change were to supply a function that returns the status code in error situations it could enforce spec compliance vs the custom response function proposed. As shown above, you can always hack around it and violate the spec. The library should do its best to maintain compliance while not

[2021-02-02 18:02] MatthiasKunnen commented on #427
Forcing spec compliance could be done but I don't see much advantage in that. After all, as you said, you can just hack your way around it.

IMO, the most important thing is that the default setting does not violate the spec. What the user then decides to do with the function is their business.

[2021-02-02 18:07] acao commented on #427
💯

[2021-02-02 18:57] MatthiasKunnen commented on #427
We could make the description as follows:

  or headers of the response in case of a runtime query error. By default, the status code is set to
  `500`.
  To ensure compatibility, make sure to take note of [the GraphQL spec regarding status codes](https://github.com/graphql/graphql-over-http/blob/master/spec/GraphQLOverHTTP.md#status-codes)

[2021-02-03 05:13] brianwarner opened #741 "Update master to main"
Folks, just a heads up that we'll be swapping the primary branch from master to main. GitHub's tooling will remap any open PRs. If you're working locally and all your code has been merged, you can either reset your origin (GitHub will provide an instruction) or just do a fresh clone.

cc/ @leebyron

[2021-02-03 13:07] acao commented on #741
only thing to fix is the badges in the readme that point to master branch

[2021-02-05 08:50] maximilian-lindsey commented on #430
Hi @IvanGoncharov have you figured out an answer to your question?

[2021-02-05 08:50] maximilian-lindsey commented on #430
Hi @btodts have you figured out an answer to your question?

[2021-02-19 15:28] Yaojian commented on #721
[code]
TypeScript fails in compiling the last `(req, res, next)` with message
[code]
 because [the Middleware is defined](https://github.com/graphql/express-graphql/blob/2882357145b8ee131c23e7745649cb2fe9911ca1/src/index.ts#L183) as
[code]

Is this a bug? @danielrearden

[2021-02-27 01:08] danielrearden commented on #721
The middleware does not currently utilize the `next` parameter, as indicated by the type for `Middleware`. So omit the parameter and only pass in `req` and `res`.

[2021-03-09 12:57] lorstenoplo commented on #14
Tried all the solutions mentioned above but still I get this error :

Here is the code i am using for the middleware :
`
const app = express();
  app.use(
    "/graphql",
    cors({
      origin: process.env.FRONTEND_URL!,
      credentials: true,
    }),
    (req, res, next) => {
      res.header("Access-Control-Allow-Credentials", "true");
      res.header(
        "Access-Control-Allow-Headers"

[2021-03-10 00:47] imolorhe commented on #14
If you are using the cors middleware, you don't need to specify the CORS headers again. That would likely be conflicting with the settings from the middleware.

Also did you first try just adding the `cors()` without parameters? This should allow _ALL_ requests. If that works, then you can add the `cors` options to limit it to a domain.

[2021-03-10 01:21] lorstenoplo commented on #14
I'll try and get back, thanks for the solution

[2021-03-11 03:55] lorstenoplo commented on #14
Not working

[2021-03-14 10:29] TheEightArms opened #744 "Graphiql Playground is loading infinite"
Hi i got a problem with loading the integrated Playground.
If i start loading the http://localhost:3001/graphql the page is loading infinite,

here is my configuration:

graphqlHttp({
    schema: graphqlSchema,
    rootValue: graphqlResolver,
    graphiql: true,
    customFormatErrorFn(err) {
       .....
    }

here is my request header

<img width="321" alt="Bildschirmfoto 2021-03-14 um 11 27 10

[2021-03-18 08:25] mimo84 opened #745 "Middleware hangs when using getGraphQLParams function"
When using the getGraphQLParams function inside a middleware function, the response hangs.
I've created a simple repo with the minimum required to replicate the issue here: https://github.com/mimo84/getGraphQLParamsBug

The code:

[code]

Node Version: 15.6.0
OS: MacOS 11.2.1

[2021-03-20 07:19] ShaneKeney opened #746 "npm package doesn't have updated GraphiQLOptions for subscription config"
Not sure where to report issue for npm package in itself so am reporting here.  The following is the type file on the latest npm install i.e.

[code]

via. `renderGraphiQL.d.ts`
[code]

Looking at the GitHub repo it seems the additional `subscriptionEndpoint?` field was added for subscription report.  Versioning on npm says `0.12.0` which matches with GitHub versioning but there seems to be a disc

[2021-03-26 10:56] cowboyd opened #747 "create new release?"
It looks like the last release was 5 months ago, and there is lots of goodies contained on master that aren't on npm, including much better support for subscriptions. Is there anything holding back?

[2021-03-26 10:58] cowboyd commented on #746
@ShaneKeney It looks like the v0.12.0 release does not contain the improved subscription support. I've opened #746 to request the release of that awesome funcitonality.

[2021-04-03 13:27] Loki2 opened #751 "graphql apollo client v3 CORS error"
Access to fetch at 'http://www.server.api/graphql' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: The 'Access-Control-Allow-Origin' header has a value 'http://192.168.100.25:3000/' that is not equal to the supplied origin. Have the server send the header with a valid value, or, if an opaque response serves your

[2021-04-04 12:20] acao commented on #751
@Loki2 you must configure your express server to accept cross origin requests! The cors module will take care of that. If you have any other issues, the express.js support community can help!

[2021-04-04 12:20] #751 closed

[2021-04-04 12:21] acao commented on #747
@cowboyd we are waiting on graphql 16 to release support for subscriptions and stream/defer.

[2021-04-04 12:23] acao commented on #746
@ShaneKeney we merge to main and publish from main, so whatever is in main is not necessarily published. This is how graphql, react, and many oss projects work

[2021-04-04 12:24] acao commented on #745
Do you have time to open a pull request to addres this?

[2021-04-04 12:25] acao commented on #744
GraphQL Playground is not included in this project. Do you mean graphiql?

what happens if you remove the custom error formatter?

[2021-04-04 12:27] acao commented on #675
I proposed rearchitecting and creating middelwares like these years ago but @IvanGoncharov was against the idea

[2021-04-05 07:39] cowboyd commented on #747
Thanks @acao,

For anybody else arriving here, more information on the `@defer` and `@stream` directives https://foundation.graphql.org/news/2020/12/08/improving-latency-with-defer-and-stream-directives/

[2021-04-05 07:39] #747 closed

[2021-04-06 01:46] yuanxuzhang commented on #455
Hi: BknuS
Did you find anyway to make schema use the updated value?  thanks.

[2021-04-08 12:19] ShaneKeney commented on #746
@acao Is their an estimate as to when subscription support will be published?

[2021-04-08 14:45] acao commented on #746
@junminstorage is working on the finishing touches once we’re able to publish graphiql next. We’re all volunteers so no timelines are known

[2021-04-10 00:45] junminstorage commented on #746
@ShaneKeney , once the https://github.com/graphql/graphiql/pull/1806 is merged and changes are released, I will get PR https://github.com/graphql/express-graphql/pull/739 ready for review within a week or so.

[2021-04-10 22:16] acao commented on #746
https://github.com/graphql/graphiql/runs/2314562284 it should finally publish when this is run @junminstorage, terribly sorry for the delays. I will be on later in the week!

[2021-04-12 17:56] acao commented on #746
https://github.com/graphql/graphiql/blob/main/packages/graphiql/CHANGELOG.md#141 here's the release notes by the by! I may be able to create a PR for your PR myself later today, if that helps?

[2021-04-13 02:10] junminstorage commented on #746
PR is here: https://github.com/graphql/express-graphql/pull/755. @acao can you take a look at it?

[2021-04-13 12:12] junminstorage opened #756 "Run Test on Node v12 Failed"
There are multiple opened PRs are failing due to the following errors:

 83) GraphQL-HTTP tests for restify
       Custom result extensions
         does nothing if extensions function does not return an object:
     DeprecationWarning: The legacy HTTP parser is deprecated.
      at <anonymous>
      at internalBinding (internal/bootstrap/loaders.js:136:34)
      at process.binding (internal/boots

[2021-04-13 12:18] acao commented on #756
Have no idea where the error is. The deprecation warning shouldn’t be throwing an exception? Unless it’s not actually a true deprecation?

[2021-04-13 12:24] junminstorage commented on #756
Right, the deprecate warning should not cause mocha test failed. maybe there are mocha test runner options for us to adjust to ignore this.
And we spawned child process to run Node v12 test, I wonder if we can something like ```childProcess.removeAllListeners('warning')```

[2021-04-13 12:26] junminstorage commented on #756
Also the https://github.com/restify/node-restify#supported-node-versions doesn't specifically mention about supporting Node v12.

[2021-04-13 12:45] acao commented on #756
You’re right this it it:

https://github.com/nodejs/undici/issues/702

maybe we can just pin the version of the node-restify lib for now to one that works with node 12? Or upgrade it?

[2021-04-15 18:20] ikhana commented on #560
Can you please tell how did you solved that cause I'm having the same issue ?

[2021-04-21 04:46] mimo84 commented on #745
I tried an attempt to fix it and I've created a branch with the test, however it seems that I cannot reproduce the bug in the test. Do you think I am missing something?

https://github.com/graphql/express-graphql/compare/main...mimo84:middleware-hang

[2021-05-05 11:35] ParallelUniv3rse commented on #731
related issue: #427

[2021-05-06 21:43] justinmchase commented on #756
I found this:
https://github.com/creationix/http-parser-js#readme

It looks like on that version of node the http parser is deprecated, newer versions its fixed. It looks like you can import this module and monkey patch the version and it will fix it for node:12

[2021-05-06 22:01] junminstorage commented on #756
@justinmchase thanks for that. I made various changes in the PR accordingly e.g. https://github.com/graphql/express-graphql/pull/755/files#diff-ca140513f036f6bfbb6a70f1aa37af734be5b256801097041211bd7fa7f15584R18
node12 tests still failed. Maybe I did something wrong?

[2021-05-09 14:36] mastertinner opened #757 "Express examples misue promises"
I have a project which follows the "Simple Setup" example given in this project's README: https://github.com/mastertinner/graphql-jsonplaceholder/blob/master/src/index.ts#L19

I have configured eslint to run the recommended TypeScript linting rues. The example throws a linting error because the `graphqlHTTP` function returns a promise which is not expected by express at that point:

[code]

Is thi

[2021-05-09 18:43] mabualwafa opened #759 "context"

[2021-05-09 18:44] #759 closed

[2021-06-01 01:31] #756 closed

[2021-06-02 18:12] junminstorage commented on #746
@ShaneKeney we release new version which should support your use case. let us know if it works for you.

[2021-06-14 19:20] flovilmart opened #767 "Interoperability with graphql go"
[GraphQL Go](https://github.com/graphql-go/graphql/blob/1a9db8859ef57c2821bbd47b0db9a1a09e617f41/graphql.go#L29) will always default the operation name to an empty string which causes this server to fail serving requests.

The bottom value is expected to be `null` and not `''` in this project.

Would it be acceptable that we change the implementation in this project to allow `operationName: ''` be

[2021-06-14 19:39] acao commented on #767
I think this makes a lot of sense! `operationName` with an empty string value of `''` would just require an additional check for `operationName.length > 0`, and should be treated as an anonymous operation.

[2021-06-14 21:08] acao commented on #744
@TheEightArms can you create an example repo to show me this error? otherwise it's very difficult to diagnose this issue you are having

[2021-06-14 21:08] #741 closed

[2021-06-15 02:29] flovilmart commented on #767
Perfect! Let me take some time to fix it up!

[2021-06-22 23:25] flovilmart commented on #767
@acao I opened the above PR; let me know if there’s anything else I can do to help

[2021-06-24 15:41] jeremyzahner commented on #746
@junminstorage Seems like no releases were made since November. Or am I missing something?

[2021-07-03 01:27] kag359six commented on #745
Is there a solution to this issue? I'm facing the same problem in the same outlined by @mimo84

[2021-07-03 06:23] mantou132 commented on #427
You can return 400 via `customExecutefn`:
[code]

[2021-07-04 04:23] ShaneKeney commented on #746
@junminstorage Same question as @jeremyzahner .  Doesn't seem to be any release since Novemeber.  Version 0.12.0 still does not have the support for subscription as explained above.

I get the following error:
[code]

when the following is used:

[code]

[2021-07-05 02:24] junminstorage commented on #746
@acao can you help with the release?

[2021-07-05 16:48] rvalenciano commented on #746
Hello, 👋 Thank you very much for the volunteering time of the open-source contributors. I'm willing to contribute and donate time to this project if this means we can have the new release up; We also need it in our organization. Any plans on this or if my time can help speed things up for future releases?

[2021-07-06 07:55] psugasti commented on #746
Would be great to have subscription support !

[2021-07-06 10:13] acao commented on #746
In my free time, I'm quite busy with higher priority OSS work on graphiql at the moment, perhaps @danielrearden would be able to help?

I will hopefully get to this when I can, sorry for the delays

[2021-07-06 10:36] acao commented on #746
my bad, i don't have permissions to publish this repo. @IvanGoncharov is the only active contributor that does

[2021-07-07 01:49] acao commented on #746
To clarify, I’ve _never_ had publish permissions for this package. Only the ability to merge PRs

#764 will need to be completed first. I have put in a request for publish permissions again, hopefully they are granted this time!

[2021-07-09 09:42] acao commented on #746
#764 is still blocked on some integration test suite issues I will address this weekend.

we also need to remove it from `graphiql/toolkit`'s optional dependencies, and cut another release of the `graphiql` monorepo.

[2021-07-13 00:51] rvalenciano commented on #746
Hi @acao , any updates on this?

[2021-07-13 09:51] acao commented on #746
sorry, there are higher priority issues in the graphql ecosystem right now, and we're all working for free! it will take some time

[2021-07-14 20:35] rvalenciano commented on #746
Oh ok, well if any help is needed feel free to ping me. Best!

[2021-07-15 17:11] flovilmart commented on #767
ping @acao ?

[2021-07-23 13:58] truptivishe-gep commented on #455
Hi , did anyone find a solution for this?

[2021-08-03 19:21] hanumanjiblog opened #770 "Add NPM documentation"
PleaseAdd documentation in npm website, in npm website show blank.
![Screenshot_20210804-005113](https://user-images.githubusercontent.com/87318222/128073713-f3fdc765-3e8d-48fc-acf9-e2d4ca6ac11f.png)

[2021-08-11 19:34] kingrupam opened #771 "depth-limit"
how to Limit query depth using express-graphql

[2021-08-14 05:21] MatrixFrog commented on #757
I noticed the same thing. Did a little bit of digging and I found this:

https://expressjs.com/en/guide/writing-middleware.html

While it doesn't say so explicitly, I think the idea is that if a middleware function returns a promise that resolves rather than rejects, it's equivalent to calling `next()` with no argument (indicating success). And if you look at the asynchronous middleware function r

[2021-08-16 18:04] MatrixFrog commented on #757
Thinking about this a little more, I don't really understand why this package is designed to be used as middleware rather than as a handler.

[2021-08-18 18:41] notrab commented on #771
@kingrupam something like the following should do it:

[code]

[2021-08-18 18:45] notrab commented on #770
@hanumanjiblog there is, perhaps there was something wrong with NPM at the time you tried to view it.

![CleanShot 2021-08-18 at 19 44 28@2x](https://user-images.githubusercontent.com/950181/129954498-7e7a2554-1385-41bb-a266-4ad8e0513aeb.png)

[2021-08-19 12:00] #770 closed

[2021-08-21 14:29] Kostanos opened #774 "Is there a way to customize a logger"
We are using a JSON logging (pino module in particular)
Express, and other our custom modules are using pino
But the standard graphql responses like: [50] Must provide query string. for example are not json formatted.
Is there a standard (easy) way to replace express-graphql logger with a custom one (pino in our case)

Thank you.

[2021-08-31 15:10] skiod opened #776 "Unhandled errors does not provide mutation or query name"
I'm trying t catch unhandled errors using
[code]
but it throws only stack like this

[code]

Is there any ways to get mutation or query name in unhandled errors ?

Thank you

[2021-09-06 14:00] AndyHubert commented on #428
Here is a simple solution I wrote up until something official is available. Works so far, though I cannot promise I won't find any issues.

[code]

[2021-09-08 11:34] slim-hmidi opened #778 "Graphiql playground not displayed in the browser"
I create a server with express-graphql and I set graphiql to true in order to get the playground displayed whenever I run the server but I got only the word `Loading...` displayed.
App.ts:
[code]
graphql/index.ts:

[code]
When I test the app with postman and I tried to create a mutation, it works correctly but I'm not able to get the playground in the browser to use it.

**express-graphql:** 0.12.

[2021-09-08 12:52] slim-hmidi commented on #778
the issue was the order of express middleware, when I put the graphqlHTTP middleware before helmet, it works now.

[2021-09-08 12:52] #778 closed

[2021-09-15 21:48] justinmchase commented on #427
@mantou132 I don't know why what you have is returning a 400... but it does! Its better than a 500 but seems to still lack specificity.

In my opinion you should just be looking on the error objects themselves and the first one with a `statusCode` field on it, you should just use that. This will make it an extremely easy-to-use api 99% of the time. You just make a custom object, throw it. Boom don

[2021-09-22 22:26] DiegoRBaquero commented on #757
Just pointing out that the handler itself doesn't need to `then` to `next` else it will also trigger a 404 when the response is already set. This should be the right way

[code]

[2021-09-28 19:55] hyphen1370 opened #781 "UnhandledPromiseRejectionWarning: Unhandled promise rejection"
Hello,

I follow this link to create a simple express-graphql server:
https://graphql.org/graphql-js/running-an-express-graphql-server/

When I start the server, I got this error:
(node:23847) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'length' of null
[2021-09-28T19:52:22.167Z]     at ServerResponse._send (_http_outgoing.js:322:33)
[2021-09-28T19:52:22.167Z]     at write_ (

[2021-10-01 17:15] KerimG opened #783 "Why isn't the callback of app.listen() called when using express-graphql middleware?"
I have a very simple graphql setup that looks something like this:

[code]

but for some reason the callback isn't being called. I figure this has something to do with the middleware.

[2021-10-05 13:29] akelmj commented on #729
work , thanks.

[2021-10-05 17:20] IvanGoncharov commented on #767
Closing since it should be resolved in `graphql-go`, see https://github.com/graphql/express-graphql/pull/768#issuecomment-933028222

[2021-10-05 17:20] #767 closed

[2021-10-08 14:09] akelmj commented on #729
:)

[2021-10-18 19:58] justinmchase commented on #747
You're waiting? Does it mean that this code doesn't actually work?
https://github.com/graphql/express-graphql#setup-with-subscription-support

What timeline are we looking at here?

[2021-10-22 01:46] junminstorage commented on #746
@acao @IvanGoncharov can you help with the release? If possible can you grant me or some of us here willing to help the permission to release?

[2021-10-22 19:36] AadamZ5 opened #785 "Build when installed from GitHub"
After seeing that the `graphql-ws` package is now a supported fetcher option merged in with PR #755, I was excited to try this functionality.

I want to use this new functionality that isn't yet offered in the NPM package, and I know that the volunteer team is waiting until [another PR in graphql/graphql-js](https://github.com/graphql/graphql-js/pull/2839) is merged before publishing another versi

[2021-10-23 00:42] junminstorage commented on #785
it used to target 'dist' but got changed in #708.

[2021-10-30 11:23] harsh3977 commented on #783
Try
app.listen(8165, () => {
  'Running a GraphQL API server at :8165/graphql';
});

[2021-10-30 11:27] harsh3977 opened #786 "throw new MiddlewareError(`Type ${type} exists in middleware but is missing in Schema.`);"
When i use graphql-sheild  with graphql middleware it give me the above error.
 "express-graphql": "^0.12.0",
 "graphql-middleware": "^6.1.4",
 "graphql-shield": "^7.5.0",

if anybody now please let me know,checked my type in sheild as well as makeExecutableSchema .

[2021-10-31 07:39] KerimG commented on #783
@harsh3977 thanks for the info. That's the first thing I tired, since it's the default express way, but it looks like express-graphql seems to somehow supress it

[2021-11-01 06:45] harsh3977 commented on #783
Sorry My bad. Try async  before the function
app.listen(8165,async  () => {
'Running a GraphQL API server at :8165/graphql';
});

[2021-11-16 16:36] U-4-E-A opened #789 "TypeScript - merge declarations for request and response types"
[code]

I get TS errors for req.user (_"Property 'user' does not exist on type 'IncomingMessage'.ts(2339)"_) and res.status (_"Property 'status' does not exist on type 'ServerResponse'.ts(2339)"_). Is there a guide on how to merge declarations to add custom properties? Thanks.

[2021-11-18 16:16] johanlelan commented on #455
Hi, I am looking for the same @yuanxuzhang ;). Our types are stored into DB and when an update event raise we want to update the GraphQL Schema on-the-fly.

How to refresh by code the computed `graphqlHTTP` schema @IvanGoncharov ?

[2021-11-23 13:32] fredevery opened #790 "Cannot install with graphql 16.0.1"
I get the follow error from npm when attempting to install along side graphql 16.0.1

[code]

[2021-11-24 20:58] johanlelan opened #791 "Update GraphQL Schema at runtime"
Hi everyone!

We need a help on Schema update. Our types are stored into DB.
We want to update the GraphQL Schema on-the-fly when a type is updated.

How can we do this on `express-graphql` ?

[2021-11-25 16:54] KerimG commented on #783
@harsh3977

Thanks a ton. That seems to have worked. I don't know why the callback has to be `async` but that seems to have fixed it.

[2021-11-25 16:54] #783 closed

[2021-11-26 09:23] deepakbhattmits commented on #14
Hi

I have the same issue, tried with your solution but this fetch works sometime and sometime
this is my server.ts file

`app.use('/graphql', cors() ,graphqlHTTP({ schema,graphiql:true }));`

tried with different way that but no luck on that

[code]

**
  "message": "Failed to fetch",
  "stack": "TypeError: Failed to fetch\n    at graphQLFetcher (http://localhost:4000/graphql?**

  Could you plea

[2021-11-26 10:27] deepakbhattmits commented on #14
Hi @mnpenner ,
I have done with the same but same issue
[code]

could you please help me out

[2021-11-26 14:59] MoSattler commented on #346
Trying to use bodyParser does not work for me. It causes this error:

[2021-11-30 18:31] adviner commented on #790
Has anyone figured out a working solution to this?

[2021-12-02 20:26] fredevery commented on #790
Not an ideal solution, but I ended up having to install an older version of graphql to get this working.

[2021-12-07 11:22] adviner commented on #790
I did also.  I'm just wondering since no one is responding if this project will go stale

[2021-12-23 19:31] st33fn opened #797 "Graphql 16.2.0 support"
Currently I'm facing the 'Could not resolve dependency' err upon installing the express-graphql. Any info on this?

Thanks guys!

[2021-12-23 19:36] st33fn commented on #790
I created an issue as well. Would be bad if this becomes stale. Such a good project...

[2022-01-01 20:03] adviner commented on #790
I did the same but haven't heard anything.  What stinks is that every tutorial uses express-graphql and to this day there is no response.

[2022-01-11 10:12] jnv commented on #797
Hey, this is duplicate of #790. There is a PR #793 to fix that (among other things).

[2022-01-11 10:13] jnv commented on #790
Mind that PR #793 should fix the peer dependency, among other things.

[2022-01-12 11:06] ste2425 commented on #797
I think its fair to say this project is no longer maintained, even with regular community PR's being made. Might be best to find an alternative, we are.

[2022-01-12 17:15] DiegoRBaquero commented on #228
This is what I am doing:

[code]

[2022-01-13 08:42] jnv commented on #797
My colleague reached out to maintainers on the community Discord and the good news is that there should be a new release soon-ish, so :crossed_fingers:.

I have also researched alternatives and I'd say the most promising one is (graphql-helix)[https://github.com/contra/graphql-helix], it's somewhat more minimal but also server-agnostic and there is [pretty good tutorial](https://dev.to/danielreard

[2022-01-18 09:48] romainPrignon commented on #790
I couldn't wait anymore, so I fork the project: https://github.com/GeorgesTech/express-graphql
Changes: https://github.com/GeorgesTech/express-graphql/pull/1
And I used it like this:
[code]
`gitpkg.now.sh` allow me to target npmDist folder during install

I do not plan to maintain the fork for a long time
I hope the issue will resolve soon

In the meantime, renovate/dependabot is happy

[2022-01-18 09:48] romainPrignon commented on #797
I couldn't wait anymore, so I fork the project: https://github.com/GeorgesTech/express-graphql
Changes: https://github.com/GeorgesTech/express-graphql/pull/1
And I used it like this:
[code]
`gitpkg.now.sh` allow me to target npmDist folder during install

I do not plan to maintain the fork for a long time
I hope the issue will resolve soon

In the meantime, renovate/dependabot is happy

[2022-01-23 17:53] Legolaszstudio opened #798 "Processing timeout"
Hello!

I was wondering what would be the proper way to handle timeouts with this module, eg.:
My hosting provider's reverse proxy would timeout after 30 seconds, so if a graphql query would take longer than 25 seconds (for example due to a database connection problem) I would like to terminate all processing and send back an error message.

I looked all over the internet but couldn't find anythin

[2022-02-05 09:12] SpiffGreen commented on #584
I believe you could force the installation using --force flag on npm

[2022-03-04 19:45] ZergRushJoe commented on #562
this. does not work with arrow function. why change form the spec?

[2022-03-11 21:54] mhabegger commented on #746
Anyone still working on this? Is this project still maintained or dead?

[2022-04-11 20:24] joseleonec commented on #458
check
https://stackoverflow.com/questions/70574880/unable-to-install-express-graphql

[2022-04-21 20:45] ClaudioRowe opened #802 "About compatible version for an old graphql and node"
I'm working on this old project in graphql 0.13.2 and express 4.15.3. Which version of express-graphql suits bests for this modules? Thanks beforehand!

[2022-04-28 14:36] Yoann-Abbes opened #803 "Swallow GraphQL errors by Express"
Hi

I'm having issues using a simple express error handler middleware to swallow errors thrown in GraphQL resolvers

For example, I would have:

GQLside
[code]

Express side
[code]

What I need, is when inside the resolver I throw the `Some Error`, Express swallows it inside it's middleware.
It does not work

The only way I managed to do it, is by throwing inside the `customFormatErrorFn` function

[2022-05-04 16:31] quinten1333 commented on #177
No response.... This annoyed me so I made a library to compensate for this weird choice that is faster than going to json and back. Link: https://www.npmjs.com/package/normalize-object-inheritance

I get that you want to adhere to the GraphQL spec as much as possible. However, this library is only useful if it can be integrated in other code and libraries.

[2022-05-18 23:56] viveleroi commented on #427
I've noticed that when I return an error for a query the status is `500` but when there's an error in a mutation, the status is 200.

I'm not sure why that is but it seems related to this discussion. I'm undecided on what I want it to do, but would appreciate either consistency or a way to customize it.

[2022-05-19 06:55] dennisMeeQ commented on #797
I made the switch from `express-graphql` to `graphql-helix` today. Quite straightforward.

[2022-05-23 16:17] ThePiyushAggarwal opened #805 "Peer dependency error on new installation of graphql"
I am getting this:
[code]

[2022-05-24 19:12] JaLe29 commented on #791
[code]

[2022-05-24 19:37] johanlelan commented on #791
Thanks @JaLe29!
I am looking for mutate the schema1 at run time. My use case is adding query types during service life. I have a mutation to declare sources into DB. Each source will be a new graphQL type...

[2022-05-24 20:11] JaLe29 commented on #791
So, you can make it from variable on the fly in `app.use` callback.

[2022-05-30 10:10] romainPrignon commented on #797
I moved to https://www.graphql-yoga.com/ **V2** from https://www.the-guild.dev/

there is a migration path from express-graphql: https://www.graphql-yoga.com/docs/migration/migration-from-express-graphql
The migration was easy for me.
I just had to replace some middlewares with https://www.envelop.dev/ plugins also from the-guild

If you happened to use the fork: https://github.com/GeorgesTech/exp

[2022-06-01 06:48] ThePiyushAggarwal commented on #449
I am still getting the error in 2022. Why is no one fixing this? Or am I doing something wrong?
[code]

[2022-06-05 07:52] dk-raw commented on #805
There are people having the same issue since 2018! This is unacceptable!

[2022-06-16 19:45] michael-gates-techngs commented on #449
Still getting this issue

[code]

[2022-06-21 06:23] 1catchman commented on #805
Same issue, I had to install it with `--force` flag

[2022-07-01 17:56] adam-nielsen commented on #805
As a temporary workaround you can run `npm install` with the `--legacy-peer-deps` option.

Looks like the same issue as #790.

[2022-07-08 03:39] hamidjavadi commented on #805
Please upgrade GraphQL package to latest version => 16.5.0
Thanks

[2022-07-09 02:34] SiNONiMiTY opened #807 "Unmet Peer version, need to update supported dependencies"
When installing graphql and express-graphql, I am encountering this error

unmet peer graphql@"^14.7.0 || ^15.3.0": found 16.5.0

Please update the packages to support the latest version of dependencies

[2022-07-12 14:18] Taiwrash commented on #584
I run into this many times and the way out for me most time is by installing ```express-graphql``` first before installing the ```graphql``` package itself.

### Solution 1
[code]
### Solution 2
[code]
then
[code]

This solved this issue every time for me.

[2022-07-22 17:30] joshribakoff-sm commented on #427
I believe the authors of the library are misreading the spec:

If the GraphQL response contains the {data} entry and it is {null}, then the server SHOULD reply with a 2xx status code and it is RECOMMENDED it replies with 200 status code.

My response contains a null data entry as described, and yet it still corrupts the status code.

[2022-07-22 17:44] joshribakoff-sm opened #808 "revert revert "Allow custom handling of runtime query errors""
https://github.com/graphql/express-graphql/pull/736 reverted something the community aligned behind changing, without addressing the concerns of the community. The author of said revert PR seems to be misreading their own link, since the spec seems pretty clear that responses that contain a `null` `data` property are recommended to contain status code 200, and nowhere does it say these responses m

[2022-08-06 06:52] tik9 commented on #449
@queendevelopers your solution with [`graphql-express`](https://github.com/NikitaDev14/graphql-express) probably does not work because `express-graphql` is needed by most of us. So we have to be patient until the conflict with `graphql` and express-graphql is fixed.

[2022-08-17 03:10] squamos commented on #745
I'm also having the same problem

[2022-08-17 17:33] drmaquino commented on #449
which version of graphql do you recommend (which one should i use?) that works well with express-graphql...?

[2022-08-17 17:33] drmaquino commented on #449
which version of graphql do you recommend (which one should i use?) that works well with express-graphql...?

[2022-08-18 06:06] tik9 commented on #449
`express-graphql@0.12.0` works for me with `express@4.18.1, graphql@15.8.0` and node v18

[2022-08-19 11:08] momck commented on #449
Hi Guys,
We still have get this error when I try to deploy on firebase.
Any resolution for this? looks like express-graphql@0.12.0 is not work with graphql@16.6.0.
We did this but didn't work:
[code]
**Error details:**
[code]

**This is my graphql and express versions:**
[code]

[2022-08-20 06:06] adam-nielsen commented on #807
Duplicate of #790 and #805

[2022-08-26 03:26] bmccorm2 opened #810 "Unable to find Prisma Client in GraphQL context. Please provide it under the `context[\"prisma\"]` key."
Hi - I'm using some various packages to try and get a graphql server up and running: type-graphql to generate my schema, and prisma to connect to my database.  Everything is working fine but it seems express doesn't have access to the prisma client.  Do you know what i am doing wrong?

Error: `Unable to find Prisma Client in GraphQL context. Please provide it under the context[\"prisma\"] key`

[c

[2022-08-26 15:10] adam-nielsen commented on #427
The spec seems pretty clear to me, but it was updated a couple of months ago so I guess it has changed since the maintainers reverted the PR.  It looks like the current behaviour, while correct at the time, is now wrong:

I modified @mantou132's solution to get it to return HTTP 200 all the time, as the Apollo GraphQL client won't see the error messages unless a HTTP 200 is returned.  (Per the spe

[2022-08-26 18:54] bmccorm2 commented on #810
Resolved my issue here: https://github.com/prisma/prisma-examples/tree/latest/typescript/graphql-express

[2022-08-26 18:54] #810 closed

[2022-08-26 19:49] riosje commented on #807
@adam-nielsen do you know if this project is going to be deprecated?

[2022-08-29 00:29] adam-nielsen commented on #807
No idea.  I tried e-mailing the GraphQL contact address to ask if anyone was looking at this project as it seems to have become abandoned, but I haven't received a response.

Maybe someone should log an issue on the GraphQL documentation site to ask whether the express-graphql stuff should be removed, given that it is no longer being maintained?

[2022-08-29 01:28] riosje commented on #807
I just created for them a ticket in the linux foundation Jira.
Don't know if that ticket is going to be reviewed by some one.
https://jira.linuxfoundation.org/plugins/servlet/theme/portal/26/RR-4

Thank you @adam-nielsen for taking the time to answer me.

[2022-08-29 01:36] riosje commented on #807
I have created an issue in the Linux Foundation Jira https://jira.linuxfoundation.org/plugins/servlet/theme/portal/26/RR-4, but I don't know if it is enough.
@IvanGoncharov @leebyron @wincent @chentsulin  @danielrearden guys I can see you're active contributors, could you take a look on this?
The thing here is that, there is a bunch of projects which have this package as dependency, so there shoul

[2022-09-23 14:12] esraa00 commented on #449
this problem is still occurs , any updates ye?

[2022-09-23 14:29] chongma commented on #449
I'm getting
[code]
Is there some problem with the dependencies?

[2022-10-06 12:00] BlueSialia commented on #807
For those interested, I forked the project at https://github.com/BlueSialia/express-graphql to solve this and some other issues I was having.

The company I work at uses it for a project, so I will be maintaining it for a long while.

Be aware that I made some changes already to the library, so just replacing `express-graphql` with `@bluesialia/express-graphql` may not be enough in some cases.

[2022-10-25 17:51] KEMBL commented on #455
@johanlelan it is possible to do with types the same as @IvanGoncharov made for resolvers, i.e.:

    schema: await someFunctionToGetTypesValue(request),
    rootValue: await someFunctionToGetRootValue(request)

[2022-10-31 13:46] Amanuel-Abera commented on #560
how

[2022-11-07 13:44] newbeb commented on #807
FYI, Looks like they are deprecating express-graphql in favor of graphql-http: https://github.com/graphql/express-graphql/pull/816.

#790 #805

[2022-11-07 13:45] newbeb commented on #790
FYI, Looks like they are deprecating express-graphql in favor of graphql-http: https://github.com/graphql/express-graphql/pull/816.

[2022-11-07 13:45] newbeb commented on #805
FYI, Looks like they are deprecating express-graphql in favor of graphql-http: https://github.com/graphql/express-graphql/pull/816.

[2022-11-12 02:57] saihaj commented on #790
This library is deprecated and it so recommended to migrate to alternatives https://github.com/graphql/express-graphql/pull/817

[2022-11-12 02:57] #790 closed

[2022-11-22 22:48] coaperator commented on #449
@chongma you can roll back to the graphql@15.3.0 version - then the error will disappear

[2022-11-28 04:13] divmgl commented on #803
So this issue was opened in April. Did you find a solution to this? I'm running into this right now and it's looking pretty dire.

[2022-11-28 18:52] saihaj commented on #803
@divmgl this project is deprecated. Checkout https://github.com/graphql/express-graphql/pull/817

[2022-11-30 17:21] y-abs commented on #803
@divmgl No sorry, I let i go
If you find a solution I would be interested too